misc/packages/gh/config/config.yml filter=git-crypt diff=git-crypt
misc/packages/git/credentials filter=git-crypt diff=git-crypt
misc/packages/git/secrets filter=git-crypt diff=git-crypt
misc/packages/jira-cl/jira-cli.json filter=git-crypt diff=git-crypt
misc/packages/mpdas/mpdasrc filter=git-crypt diff=git-crypt
misc/packages/nb/post-install filter=git-crypt diff=git-crypt
misc/packages/xmonad/config/gmail.token filter=git-crypt diff=git-crypt
ssh/* filter=git-crypt diff=git-crypt
