[submodule "misc/gnome-terminal-colors-solarized"]
	path = misc/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule ".xmonad/bundle/solarized-xmonad"]
	path = .xmonad/bundle/solarized-xmonad
	url = https://github.com/ibotty/solarized-xmonad.git
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "texmf/tex/latex/colorbrewer"]
	path = texmf/tex/latex/colorbrewer
	url = https://github.com/vtraag/tikz-colorbrewer.git
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "external/z"]
	path = external/z
	url = https://github.com/rupa/z.git
[submodule "external/diff-so-fancy"]
	path = external/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
