[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  frag = magenta
  old = red bold
[alias]
  st = status -sb
  c = commit
  ca = !git add -A && git commit
  co = checkout
  lg = log --all --graph --oneline --decorate --abbrev-commit
  in = "!git remote update -p; git log ..@{u}"
  out = log @{u}..
  remotes = remote -v
  tags = tag -l
  # Legit aliases
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"
[core]
  editor = vim
[push]
  default = tracking
