[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "texmf/tex/latex/colorbrewer"]
	path = texmf/tex/latex/colorbrewer
	url = https://github.com/vtraag/tikz-colorbrewer.git
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "external/forgit"]
	path = external/forgit
	url = https://github.com/wfxr/forgit.git
[submodule "misc/packages/ranger/config/plugins/ranger_devicons"]
	path = misc/packages/ranger/config/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "external/nb"]
	path = external/nb
	url = https://github.com/xwmx/nb.git
[submodule "tmux/plugins/tmux-fzf-url"]
	path = tmux/plugins/tmux-fzf-url
	url = https://github.com/junegunn/tmux-fzf-url
