[submodule "misc/gnome-terminal-colors-solarized"]
	path = misc/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "scripts/bundle/powerline-shell"]
	path = scripts/bundle/powerline-shell
	url = https://github.com/taketwo/powerline-shell.git
[submodule "scripts/bundle/z"]
	path = scripts/bundle/z
	url = https://github.com/rupa/z.git
[submodule "scripts/bundle/spark"]
	path = scripts/bundle/spark
	url = https://github.com/holman/spark.git
[submodule "scripts/bundle/ghi"]
	path = scripts/bundle/ghi
	url = https://github.com/stephencelis/ghi.git
[submodule "scripts/bundle/timeout"]
	path = scripts/bundle/timeout
	url = https://github.com/pshved/timeout.git
[submodule ".xmonad/bundle/solarized-xmonad"]
	path = .xmonad/bundle/solarized-xmonad
	url = https://github.com/ibotty/solarized-xmonad.git
[submodule "scripts/bundle/diff-so-fancy"]
	path = scripts/bundle/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "scripts/bundle/git-rebase-all"]
	path = scripts/bundle/git-rebase-all
	url = https://github.com/nornagon/git-rebase-all.git
