# When completing case will not be taken into consideration
set completion-ignore-case on

# The first part that has been completed will be replaced by "...",
# and it is simple to see what you need to type to finish the
# completion
set completion-prefix-display-length 2

# Turn off re-reading and re-binding terminal's special characters,
# which allows to use C-w shortcut
set bind-tty-special-chars off

# How to find the terminal key code for a given combo?
# Run: `sed -n l`, press key combo, then Enter.
# See http://unix.stackexchange.com/a/76591/55482

#######################################################################
#                         Commands for moving                         #
#######################################################################

# Alt-_ (same as Alt-Shift--)
# Jump to the beginning of line
"\e_": beginning-of-line

# Alt--
# Jump to the end of line
"\e-": end-of-line

# Alt-m
# Move cursor one character forwards
"\em": forward-char

# Alt-b
# Move cursor one character backwards
"\eb": backward-char

# Alt-v
# Move cursor one word forward
"\ev": forward-word

# Alt-w
# Move cursor one word backwards
"\ew": backward-word

#######################################################################
#                Commands for manipulating the history                #
#######################################################################

# Ctrl-t
# Search forward through the history for the string of characters
# between the start of the current line and the current cursor position
"\C-t": history-search-forward

# Ctrl-c
# Same as previous, but backwards
"\C-c": history-search-backward

# Alt-.
# Insert the last argument to the previous command
"\e.": yank-last-arg

#######################################################################
#                     Commands for changing text                      #
#######################################################################

# Ctrl-b
# Delete the character under the cursor, unless the cursor is at the
# end of the line
"\C-b": forward-backward-delete-char

# Ctrl-d
"\C-d": kill-whole-line

# Ctrl-w
# This makes it so when you have your cursor (|) positioned here
# foo/bar/test.txt| and hit C-w, it just deletes up to the first /
# character
"\C-w": unix-filename-rubout

# Ctrl-n and Ctrl-h to iterate through possible Tab-completions
"\C-n": menu-complete
"\C-h": menu-complete-backward

# Ctrl-e Ctrl-e
# Launch vim to edit current command and execute it on exit
# Hint: exit with :cq to avoid command execution
"\C-e\C-e": edit-and-execute-command

#######################################################################
#                           Super commands                            #
#######################################################################

# Alt-l "less"
# Appends pipe to `less` to the end of the current command and runs it
"\el": "\C-e | less\C-m"

# Alt-s "sudo"
# Prepends sudo to the current command and runs it
"\es": "\C-asudo \C-m"

# Alt-p "pudb"
# Prepends pudb3 to the current command and runs it
"\ep": "\C-apudb3 \C-m"

# Ctrl-Space
# Print the contents of the current directory
"\C- ": "ls -lah\C-m"

# Shift-Tab
# Trigger fzf completion
"\e[Z": "\C-e**\t"

"\C-v": "fv\C-m"
