snippet inc "include header" !b
#include <${1:header}.h>$0
endsnippet

snippet incs "include standard library header" !b
#include <${1:iostream}>$0
endsnippet

snippet incl "include local header" !b
#include "${1:`!v Filename("$1")`}.h"$0
endsnippet

snippet enum "Enumeration" !b
enum ${1:name}
{
  ${2:ITEM},
};$0
endsnippet

snippet main "Main function" !b
int main(int argc, const char** argv)
{
  ${0:/* code */}
  return 0;
}
endsnippet
