snippet opt "Optional tab-stop" i
\${${1/(\d+).*/$1/}/.+/${2:, }/}\${${1:1}}\${${1/(\d+).*/$1/}/.+/${3}/}
endsnippet

snippet help "Import global helper scripts" !b
global !p
from os.path import expanduser, join
import sys; sys.path.append(join(expanduser("~"), ".vim/snippets/helpers"))
from conversions import *
endglobal$0
endsnippet
