snippet em "Emphasize"
\emph{${1:${VISUAL}}}$0
endsnippet

snippet cite "Cite" i
\cite{${1:${VISUAL}}}$0
endsnippet

snippet tt "Typewriter"
\texttt{${1:${VISUAL}}}$0
endsnippet

#######################################################################
#                 Lists / enumerations / descriptions                 #
#######################################################################

snippet it "Item" !b
\item $0
endsnippet
