snippet sec "Section comment" !b
`!p
padding = 78 - len(t[1]) - 6
rpad = padding / 2
lpad = padding - rpad
snip.rv = '" ' + lpad * '=' + ' '
`${1:Section}`!p
snip.rv = ' ' + rpad * '=' + ' "'`
$0
endsnippet
