[Desktop Entry]
Encoding=UTF-8
Name=XMonad/GNOME
Comment=Lightweight tiling window manager
Exec=gnome-session-xmonad
TryExec=gnome-session
Icon=custom_xmonad_badge.png
Type=Application
