line-length = 88
indent-width = 4

[lint]
select = ["ALL"]
ignore = [
  "ANN003", # kwargs argument without type annotation is okay
  "D100",   # missing docstring in public module is okay
  "E501",
  "EM",     # noisy warnings about need to store exception messages in variables
  "ERA001", # has false positives
  "I",      # imports are sorted automatically by usort
  "S603",   # calling subprocess with shell=True is okay
  "T20",    # print statements are okay
  "TD002",  # no need to mention author in TODO comments (use git blame instead)
  "TD003",  # no need to create ticket for every TODO comment
  "FA102",  # no need to import from __future__ to support fancy annotations
  "FIX002", # not every TODO comment needs to be fixed
]

[lint.per-file-ignores]
"**/{test_*,*_test}.py" = [
  "ANN",     # type annotations are not required in tests
  "ARG001",  # "unused" function arguments are needed to pass mock objects
  "D",       # docstrings are not required in tests
  "PLR2004", # magic values are allowed in tests
  "S101",    # asserts are allowed in tests
]
