#######################################################################
#                              GLM types                              #
#######################################################################

snippet "(c)?g(i|b)?(v|m)(2|3|4)" "GLM type" wr
`!p
if match.group(1):
  snip.rv += 'const '
`glm::`!p
if match.group(2):
  snip.rv += match.group(2)
snip.rv += {'v': 'vec', 'm': 'mat'}[match.group(3)]
snip.rv += match.group(4)
if match.group(1):
  snip.rv += '&'
` $0
endsnippet

