snippet foreach "Foreach loop over cv::Mat" b
${1:mat}.forEach<${2:float}>([$3]($2& v, const int* p)
	{
		$0
	});
endsnippet

snippet inco "Include OpenCV library header" b
#include <opencv2/${1:core/mat}.hpp>$0
endsnippet
